.panel-container {
  padding-top: 180px;
  width: 98%;
  min-width: 98%;
}

.fixed-panel {
  position: fixed;
  top: 60px;

  width: 98%;
  background: white;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
