<div class="page-container">
  <h1 class="page-title">Developer Mode</h1>

  <div class="content-columns">
    <div class="left-column">
      <div class="buttons-column" style="margin-top: 25px;">
        <button mat-raised-button color="primary" (click)="onRefreshConfig()">
          <mat-icon>api</mat-icon>
          <span style="margin-left: 8px;">Refresh Config</span>
        </button>
        <button mat-raised-button color="warn" (click)="onRefreshCoins()">
          <mat-icon>update</mat-icon>
          <span style="margin-left: 8px;">Refresh Coins</span>
        </button>
        <button mat-raised-button color="accent" (click)="onCleanTriggeredAlerts()" class="custom-text-color">
          <mat-icon svgIcon="mop-white" class="white-icon"></mat-icon>
          <span style="margin-left: 8px;">Clean up Triggered Alerts</span>
        </button>
        <button mat-raised-button class="green-button" (click)="onRefreshCoins()">
          <mat-icon style="color:white" svgIcon="developer-mode-white"></mat-icon>
          <span style="margin-left: 8px;">Fetch Config</span>
        </button>
      </div>
    </div>

    <div class="right-column">
      <pre><code  style="min-width: 700px;">{{ jsonString }}</code></pre>
    </div>
  </div>
</div>