.card-container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 4px;
  gap: 4px;
  max-width: fit-content;
  margin: 4px 4px;
  cursor: pointer;
}

.card-container .logo img{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.card-container .symbol-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 1px;
  white-space: nowrap;
}

.card-container .exchange-link img {
  margin-top: 5px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

 .selected {
  background-color: #e8ebee;
}
