.container {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
 }

 .header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 150px;
 }

 .button-panel{
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-bottom: 60px;
 }

 .form-container{
  width: 100%;
 }

 .form{
  width: 350px;
 }

 .column{
  width: 100%;
  display: flex;
  justify-content: space-around;
 }


 textarea {
  resize: vertical; /* Allow resizing both horizontally and vertically */
  overflow: auto; /* Ensures the scrollbars are added if the content exceeds the area */
}

.coin-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}
