<div class="controls-container fixed-panel">

  <!-- GROUP-1 -->
  <div class="filter-row">
    <!-- FILTER INPUT -->
    <div>
      <form [formGroup]="form" *ngIf="form">
        <!-- Symbol -->
        <mat-form-field appearance="fill">
          <mat-icon matPrefix>filter_list</mat-icon>
          <mat-label>Filter</mat-label>
          <input type="text" matInput formControlName="symbol" [matAutocomplete]="auto" (input)="filterSymbols()"
            tabindex="-1" />
          <button mat-icon-button matSuffix class="small-icon-button" (click)="clearInput()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let suggestion of filteredSymbols" [value]="suggestion">
              {{ suggestion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <!-- ADD BUTTON -->
    <button mat-mini-fab (click)="onPutToWork()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="header-title-container">
    <h1 class="header-title-margin">Coins at Work <span *ngIf="count >0">({{count}})</span></h1>
  </div>
  <!-- GROUP-2 -->
  <div class="button-group">
    <!-- SELECT CHECKBOX -->
    <button mat-raised-button class="panel-button">
      <mat-checkbox [checked]="selectionService.hasValue() && isAllSelected()" (change)="toggleAll()"
        [indeterminate]="selectionService.hasValue()&& !isAllSelected()"></mat-checkbox>
      <mat-icon svgIcon="check"></mat-icon>
    </button>

    <app-charts-buttons-panel [selected]="selectionService.selectedValues()"></app-charts-buttons-panel>

    <!-- DELETED -->
    <button mat-raised-button class="panel-button" (click)="onRemoveFromWork()" matTooltip="Delete"
      matTooltipPosition="above">
      <mat-icon style="margin-left: 6px;" svgIcon="delete-gray"></mat-icon>
    </button>
  </div>
</div>

<div class="table-container">
  <app-work-field></app-work-field>
</div>
