table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element-image{
  width: 150px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
  /* Optionally, you can add margins, padding, or other styles */
  margin: 10px 0;

}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
  font: italic
}

.element-description-attribution {
  opacity: 0.5;
}
.round-image {
  width: 20px; /* Set your desired width */
  height: 20px; /* Set your desired height */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
  margin-right: 4px;
}
.symbol-cell {
  display: flex;
  align-items: center;
  margin-top: 14px;
   /* Vertically aligns items in the center */
}
.clickable-icon {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;  /* Align button to the right */
  margin-bottom: 10px;        /* Add some space between the button and the table */
}

/* Optional: Additional styling for the button */
.button-container button {
  margin-right: 10px;
  margin-left: 20px;            /* Ensure button aligns to the edge */
}

.controls-container{
  display: flex;
  justify-content: space-between; /* Align search box to the left and delete button to the right */
  align-items: center; /* Vertically align the items */
  margin-bottom: 10px; /* Space between the header-actions and the table */
}

.small-icon-button {
  width: 30px;   /* Adjust the width */
  height: 30px;  /* Adjust the height */
  padding: 0;    /* Adjust padding */
  font-size: 12px; /* Adjust the icon size */
  margin-right: 5px;
}
