<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>shield_person</mat-icon>
  <span>Admin</span>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onGoToExchanges()">
    <mat-icon>attach_money</mat-icon>
    <span>Exchanges</span>
  </button>

  <button mat-menu-item (click)="onRefreshCoins()">
    <mat-icon>update</mat-icon>
    <span>Refresh Coins</span>
  </button>

  <button mat-menu-item (click)="onRefreshRepos()">
    <mat-icon svgIcon="cloud_sync"></mat-icon>
    <span>Refresh Repos</span>
  </button>

  <button mat-menu-item (click)="onRefreshConfig()">
    <mat-icon>api</mat-icon>
    <span>Refresh Config</span>
  </button>

  <button mat-menu-item (click)="onGoToDConfig()">
    <mat-icon svgIcon="developer-mode"></mat-icon>
    <span>D Config</span>
  </button>

  <button mat-menu-item (click)="onGoToAlertsBatch()">
    <mat-icon svgIcon="data-object"></mat-icon>
    <span>Alerts Batch</span>
  </button>
</mat-menu>