<mat-toolbar class="navbar-container">
  <app-alert-menu></app-alert-menu>
  <span></span>
  <button mat-icon-button matTooltip="Add Alert" (click)="onAddAlert()">
    <mat-icon style="cursor: pointer;">add-circle</mat-icon>
  </button>


  <!-- <button mat-icon-button matTooltip="Alerts at Work" (click)="goToAlertsAtWork()">
    <mat-icon svgIcon="alarm" style="cursor: pointer;"></mat-icon>
  </button>


  <button mat-icon-button matTooltip="Triggered Alerts" (click)="goToTriggeredAlerts()">
    <mat-icon style="cursor: pointer;" svgIcon="triggered-alarm"></mat-icon>
  </button>

  <button mat-icon-button matTooltip="Archived Alerts" (click)="goToArchivedAlerts()">
    <mat-icon style="cursor: pointer;">history</mat-icon>
  </button> -->

  <button mat-icon-button matTooltip="Working Coins" (click)="onGetToWork()">
    <mat-icon style="cursor: pointer;">handyman</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Exchanges" (click)="goToExchanges()">
    <mat-icon style="cursor: pointer;">attach_money</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Refresh Coins" (click)="onRefreshCoins()">
    <mat-icon style="cursor: pointer;">update</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Coins" (click)="goToCoins()">
    <mat-icon style="cursor: pointer;">local_atm</mat-icon>
  </button>


  <!-- <button mat-icon-button matTooltip="Vwap Alerts" (click)="goToVwapAlerts()">
    <mat-icon style="cursor: pointer;">candlestick_chart</mat-icon>
  </button> -->

  <app-vwap-alert-menu></app-vwap-alert-menu>


</mat-toolbar>
