.carousel-container {
  position: relative;
  width: 77vw;
  height: 90vh;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide {
  display: none; /* Hide all slides by default */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Fully transparent */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.carousel-slide.active {
  display: block; /* Show active slide */
  opacity: 1; /* Fully opaque */
  transform: translateX(0); /* The active slide is visible */
}

.carousel-slide:not(.active) {
  display: block; /* Keep slides in the DOM to allow transition */
  opacity: 0; /* Fully transparent */
  transform: translateX(100%); /* Position non-active slides off the screen */
}

.carousel-slide img {
  width: 100%;
  height: 100%; /* Ensure the image fills the height of the slide */
  object-fit: cover; /* Maintain aspect ratio and cover the slide area */
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */

  cursor: pointer;
  padding: 10px;
  color: red;
  visibility: hidden; /* Initially hide the icons */
  opacity: 0; /* Fully transparent */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth transition */
}

/* Show the icons when hovering over the carousel container */
.carousel-container:hover .carousel-control {
  visibility: visible; /* Make the icons visible on hover */
  opacity: 1; /* Fully opaque */
  transition: opacity 0.3s ease; /* Smooth transition for the opacity */
}

.carousel-control.prev {
  left: 10px; /* Position from the left */
}

.carousel-control.next {
  right: 10px; /* Position from the right */
}

/* Carousel Indicators */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel-indicators span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc; /* Default color for inactive indicators */
  border-radius: 50%; /* Make them circular */
  cursor: pointer; /* Pointer cursor on hover */
}

.carousel-indicators .active {
  background-color: #333; /* Color for active indicator */
}
