/* ----------------------*/
/* ARCHIVED VWAP ALERTS TABLE */
/*---------------------- */
.archived-vwap-alerts-table .mat-mdc-row:nth-child(even) {
  background-color: #e4f7df!important;
}

.archived-vwap-alerts-table .mat-mdc-row {
  height: 35px!important;
}

.archived-vwap-alerts-table .mat-mdc-header-row {
  background-color: #cbdff5 !important;
  height: 45px;
}

.archived-vwap-alerts-table .mat-mdc-row:hover {
  background-color: #f5f4f2 !important; /* Replace with your desired color */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}

/* ----------------------*/
/* WORKING VWAP ALRTS       */
/*---------------------- */
.working-vwap-alerts-table .mat-mdc-row:nth-child(even) {
  background-color: #e4f7df!important;
}

.working-vwap-alerts-table .mat-mdc-row {
  height: 35px!important;
}

.working-vwap-alerts-table .mat-mdc-header-row {
  background-color: #8dfccc !important;
  height: 45px;
}

.working-vwap-alerts-table .mat-mdc-row:hover {
  background-color: #f5f4f2 !important; /* Replace with your desired color */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}


/* ------------------------*/
/* TRIGGERED VWAP ALERTS TABLE  */
/*-------------------------*/
.triggered-vwap-alerts-table  {
  width: 70%;
 }

 .triggered-vwap-alerts-table .mat-mdc-row:nth-child(even) {
   background-color: #faf8f2!important;
 }

 .triggered-vwap-alerts-table .mat-mdc-row {
   height: 35px!important;
 }

 .triggered-vwap-alerts-table .mat-mdc-header-row {
   background-color: #f7f181 !important;
   height: 45px;
 }

 .triggered-vwap-alerts-table .mat-mdc-row:hover {
   background-color: #f5f4f2 !important; /* Replace with your desired color */
   cursor: pointer; /* Optional: Add pointer cursor on hover */
 }
