/* ----------------------*/
/* WORKING ALERTS        */
/*---------------------- */
.working-alerts-table .mat-mdc-row:nth-child(even) {
  background-color: #e6fff5 !important; /* Soft pastel green */
}

.working-alerts-table .mat-mdc-row {
  height: 35px !important;
}

.working-alerts-table .mat-mdc-header-row {
  background-color: #20c997 !important;
  height: 45px;
}

.working-alerts-table .mat-mdc-row:hover {
  background-color: #e9ecef !important; /* Light gray */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}

/* ----------------------*/
/* ARCHIVED ALERTS       */
/*---------------------- */
.archived-alerts-table .mat-mdc-row:nth-child(even) {
  background-color: #f4eef7
   !important; /* Gentle lavender */
}

.archived-alerts-table .mat-mdc-row {
  height: 35px !important;
}

.archived-alerts-table .mat-mdc-header-row {
  background-color: #5f3677!important; /* Soft blue */
  height: 45px;
  color:whitesmoke
}

.archived-alerts-table .mat-mdc-row:hover {
  background-color: #e9ecef !important; /* Light gray */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}

/* ------------------------*/
/* TRIGGERED ALERTS TABLE  */
/*-------------------------*/
.triggered-alerts-table .mat-mdc-row:nth-child(even) {
  background-color: #fff0e6 !important; /* Pale peach */
}

.triggered-alerts-table .mat-mdc-row {
  height: 35px !important;
}

.triggered-alerts-table .mat-mdc-header-row {
  background-color: #f0ad4e !important; /* Warm amber */
  height: 45px;
}

.triggered-alerts-table .mat-mdc-row:hover {
  background-color: #e9ecef !important; /* Light gray */
  cursor: pointer; /* Optional: Add pointer cursor on hover */
}
